<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gary.garytool" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/MainWindowTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.stock.StockMainActivity"
            android:label="@string/title_activity_stock_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.listview.ListViewActivity"
            android:label="功能列表" />
        <activity
            android:name=".view.viewpager.BottomMenuWithActionbarLikeWeChat6Activity"
            android:icon="@drawable/arrow_left_n"
            android:label="微信"
            android:theme="@style/AppBaseTheme" />
        <activity
            android:name=".view.listview.ListViewItemUIActivity"
            android:label="ListViewItem展示" />
        <activity
            android:name=".view.listview.ListViewCustomStateActivity"
            android:label="背景渐变" />
        <activity android:name=".view.viewpager.BottomMenuWithFragment" />
        <activity android:name=".view.viewpager.BottomMenuWithViewpager" />
        <activity
            android:name=".view.viewpager.BottomMenuWithPopupWindowLikeQQ"
            android:label="高仿QQ底部菜单" >
        </activity>
        <activity android:name=".view.listview.ListViewLoadMoreActivity" >        </activity>
        <activity android:name=".view.listview.ListViewAdapterMActivity" >        </activity>
        <activity android:name=".view.listview.ListViewUpdateActivity" >        </activity>
        <activity android:name=".view.viewpager.ViewPagerGuideActivity" >        </activity>
        <activity android:name=".BaseFrameworkActivity" >        </activity>
        <activity android:name=".business.volley.VolleyActivity" >        </activity>
        <activity android:name=".view.PopupWindowActivity" />
        <activity
            android:name=".business.volley.VolleyTableLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.pulltorefresh.PullToRefreshActivity" >        </activity>
        <activity android:name=".view.PictureChoseActivity" >        </activity>
        <activity android:name=".business.xutil.XUtilsActivity" >        </activity>
        <activity android:name=".view.pulltorefresh.PullToRefreshListViewActivity" >        </activity>
        <activity android:name=".view.pulltorefresh.PullToRefreshBaseActivity" >        </activity>
        <activity android:name=".view.pulltorefresh.PullToRefreshBothActivity" >        </activity>
        <activity android:name=".view.pulltorefresh.PullToRefreshGradViewActivity" >        </activity>
        <activity android:name=".business.insane.MainInsaneActivity" >        </activity>
        <activity
            android:name=".business.insane.InsaneDemoActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity android:name=".business.insane.InsaneToastActivity" >  </activity>
        <activity android:name=".business.insane.InsaneAlertDialogActivity" > </activity>
        <activity android:name=".business.insane.InsaneDateDialogActivity" ></activity>
        <activity android:name=".business.insane.InsaneProgressDialogActivity" ></activity>
        <activity android:name=".business.insane.InsanePlaneActivity"> </activity>
        <activity android:name=".IntentServiceActivity"></activity>
        <service
            android:name=".view.UploadImgService"
            android:exported="false" />
        <activity android:name=".view.viewpager.ViewPagerIndicatorActivity" ></activity>
        <activity android:name=".business.guessmusic.GuessMusicMainActivity"></activity>
        <activity android:name=".business.guessmusic.AllPassView"></activity>
        <activity android:name=".business.map.MapMainActivity"></activity>
        <activity android:name=".business.tourist.TouristMainActivity"></activity>
        <activity android:name=".business.tourist.TouristSettingActivity"></activity>
        <activity android:name=".business.tourist.TouristBuildTeamActivity"></activity>
    </application>

</manifest>
