<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gary.garytool" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view" />
        <activity
            android:name=".ListViewDemo1Activity"
            android:label="@string/title_activity_list_view_demo1" />
        <activity
            android:name=".ListViewDemo2Activity"
            android:label="@string/title_activity_list_view_demo2" />
        <activity
            android:name=".ListViewDemo3Activity"
            android:label="@string/title_activity_list_view_demo3" />
        <activity android:name=".BottomMenuWithFragment" />
        <activity android:name=".BottomMenuWithViewpager" />
        <activity
            android:name=".BottomMenuWithPopupWindowLikeQQ"
            android:label="@string/title_activity_bottom_menu_with_popup_window_like_qq" >
        </activity>
    </application>

</manifest>
